html {
    scroll-behavior: smooth;
}
  
body {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(145, 234, 255, 1) 44%, rgb(253, 255, 222) 89%);
    margin: auto;
    width: 50%;
}
article{
    background-color: white;
    width: 750px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#rw{
    width: 750px;
    border-bottom: solid 8px rgba(145, 234, 255, 1);
}
section{
    padding-bottom: 50px;
    padding-top: 50px;
}
.fun{
    display: flex;
    gap: 10px;
}
figcaption{
    font: Reddit Mono;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#posters{
    gap: 20px;
    width: 100%;
    margin: 0%;
}
#poster{
    width:400px;
}
#illustration{
    width:600px;
    margin: 0%;
    width: 850px;
    height: auto;
    width: 100%;
}
div{
    display: flex;
}
a {
    color: cornflowerblue;
    font-family: Reddit Mono;
    font-size: 15px;
}
h2{
    font-family: Reddit Mono;
    font-size: 20px;
}
p{
    font-family: Reddit Mono;
    font-size: 15px;
}
h1 {
    position:relative;
    text-align: center;
    font-family: Reddit Mono;
    font-size: 25px;
    margin: 0%;
    padding-top: 5px;
}
.yes{
    width: 750px;
}