html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(145, 234, 255, 1) 44%, rgb(253, 255, 222) 89%);
  width: 1200px;
  margin: 0 auto;
}

#head {
  display: flex;
  justify-content: center;
  padding: 100px;
}

h1 {
  padding: 10% 10%;
  position: relative;
  font-family: Reddit Mono;
  font-size: 15px;
}

a {
  color: cornflowerblue;
}

#portfolio {
  display: grid;
  justify-content: space-evenly;
}

.project {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 600px;
  height: 330px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.project:hover {
  transform: scale(1.03); /* Adjust scale factor for your desired scaling effect */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.project:hover .overlay {
  opacity: 1; /* Show overlay on hover */
}

.overlay a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: Reddit Mono;
  font-size: 20px;
}

.overlay a:hover {
  text-decoration: underline;
}
