html {
    scroll-behavior: smooth;
}
  
body {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(145, 234, 255, 1) 44%, rgb(253, 255, 222) 89%);
    margin: auto;
    width: 50%;
}
article{
    background-color: white;
    width: 750px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#rw{
    width: 750px;
    border-bottom: solid 8px rgba(145, 234, 255, 1);
}

img{
    width:450px;
}
.fun{
    display: flex;
    margin: 30px;
}
a {
    color: cornflowerblue;
    font-family: Reddit Mono;
    font-size: 15px;
}
h2{
    font-family: Reddit Mono;
    font-size: 20px;
}
p{
    font-family: Reddit Mono;
    font-size: 15px;
}
h1 {
    position:relative;
    text-align: center;
    font-family: Reddit Mono;
    font-size: 25px;
    margin: 0%;
    padding-top: 5px;
}
.yes{
    width: 750px;
}