html {
    scroll-behavior: smooth;
}
  
body {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(145, 234, 255, 1) 44%, rgb(253, 255, 222) 89%);
    margin: auto;
    width: 50%;
}

#rw{
    width: 750px;
}

img{
    width:450px;
}
.fun{
    display: flex;
    margin: 30px;
}
a {
    color: cornflowerblue;
    font-family: Reddit Mono;
    font-size: 15px;
}

h1 {
    position: relative;
    font-family: Reddit Mono;
    font-size: 25px;
}